*{  margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: OpenSans-Semibold;
    src: url(./Source/font/OpenSans-Semibold.ttf);
}
@font-face {
    font-family: OpenSans-Regular;
    src: url(./Source/font/OpenSans-Regular.ttf);
}
.header{
    width: 100%;
    height: 22vh;
    background-image: url("./Source/images/headerImg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    text-align: center;
}
.header__text{
    margin-left: 25%;
    margin-top: 2%;
    width: 50%;
    max-height: 50%;
    height: auto;
    font-size: 50px;
    background-color: rgba(0, 0, 0, 0.185);
    -webkit-text-fill-color: rgb(250, 232, 152);
    font-family: OpenSans-Semibold, serif;
}
.masterDiv {
    width: 100%;
    max-height: 280vh;
    height: auto;
    background-color: black;
}
.state {
    width: 100%;
    max-height: 60%;
    height: auto;
    display: flex;
    background-color: rgb(255, 255, 255);
}
.description {
    width: 35%;
    height: 90%;
}
.logo {
    width: 100%;
    max-height: 20%;
    height: auto;
    justify-content: center;
}
.img_logo {
    margin-left: 25px;
    width: 70%;
    /* height: 100%; */
    height: auto;
}
.price {
    margin-top: 20px;
    margin-left: 10%;
    width: 90%;
    height: 5%;
    font-size: 30px;
    display: flex;
    text-decoration-color: black;
    font-family: OpenSans-Semibold, serif;
}
.ul__Info{
    width: 100%;
    height: 40%;
    margin-bottom: 10px;
}
.list__item{
    margin-left: 20px;
    margin-bottom: 10px;
    list-style-type: none;
    font-family: OpenSans-Regular, serif;
    font-size: 14px;
}
.list__item_enlarge{
    text-align: center;
    list-style-type: none;
    font-family: OpenSans-Regular, serif;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.185);
    -webkit-text-fill-color: rgb(63, 62, 60);
}
.list__item_neighbor{
    margin-bottom: 10px;
    list-style-type: none;
    font-family: OpenSans-Semibold, serif;
    font-size: 16px;
    text-align: center;
}
@media (min-width: 1401px) {
    .list__item_description{
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 10px;
        list-style-type: none;
        font-family: OpenSans-Regular, serif;
        font-size: 18px;
        text-align: justify;
    }
}
@media (min-width: 700px) and  (max-width: 1400px) {
    .list__item_description{
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 10px;
        list-style-type: none;
        font-family: OpenSans-Regular, serif;
        font-size: 14px;
        text-align: justify;
    }
}

.list__item_Price{
    margin-left: 30px;
    margin-bottom: 10px;
    list-style-type: none;
    font-family: OpenSans-Regular, serif;
    font-size: 18px;
}

.list__item_title{
    margin-left: 20px;
    margin-bottom: 5px;
    list-style-type: none;
    font-family: OpenSans-Semibold, serif;
    font-size: 18px;
}

.list__item_Price_title{
    margin-left: 20px;
    margin-bottom: 5px;
    list-style-type: none;
    font-family: OpenSans-Semibold, serif;
    font-size: 25px;
}

.btn__video{
    background-color: rgb(250, 232, 152);
    color: rgb(27, 27, 27);
    font-family: OpenSans-Semibold, serif;
    border-radius: 8px;
    border: 2px solid rgb(250, 232, 152);
    padding: 3% 2%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 40%;
    height: 20%;
    margin-left: 5%;
    margin-bottom: 4%;
    cursor: pointer;
}
.btn__video:hover{
    background-color: rgb(255, 255, 255);
}

.btn__LosPatios{
    background-color: rgb(250, 232, 152);
    color: rgb(27, 27, 27);
    font-family: OpenSans-Semibold, serif;
    border-radius: 8px;
    border: 2px solid rgb(250, 232, 152);
    padding: 3% 2%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    max-width: 60%;
    width: auto;
    height: 20%;
    margin-left: 20%;
    margin-bottom: 2%;
    cursor: pointer;
}

.btn__LosPatios:hover{
    background-color: rgb(255, 255, 255);
}

.img__floor__plan{
    margin-left: 20%;
    margin-bottom: 20px;
    width: 60%;
    max-height: 20%;
    height: auto;
}
.img__floor__plan:hover{
    cursor: pointer;
}
.gallery {
    width: 65%;
    height: 90%;
    display: flex;
    flex-direction: column;
}
@media (min-width: 1401px) {
    .container__img__principal{
        width: 1184.4px;
        height: 616px;
    }
}
@media (min-width: 700px) and  (max-width: 1400px) {
    .container__img__principal{
        width: 870px;
        height: 500px;
    }
}
/* .container__img__principal{
    width: 870px;
    height: 500px;
} */
.container__img__principal.hover{
    cursor: pointer;
}
.img__principal{
    margin-left: 20px;
    margin-top: 10px;
    width: 90%;
    height: 95%;
}
.container__imgs_miniatures{
    width: 100%;
    max-height: 30%;
    height: auto;
}
.row_img__miniatures{
    width: 80%;
    height: 20%;
    display: flex;
    margin-left: 60px;
    margin-bottom: 2px;
}
.column {
    width: 10%;
    height: 100%;
    padding: 2px;
}
.column img {
    height: 100%;
    opacity: 0.8; 
    cursor: pointer;
}
.column img:hover {
    opacity: 1;
}

.slider {
    width: 90%;
    height: 500px;
    margin: 20px auto;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 5px 5px 10px grey;

}

img {
    width: 100%;
    height: 100%;
    animation: ani 2s linear;
}

@keyframes ani {
    0% {
        transform: scale(1.2);
    }
    10% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgb(201, 199, 199);
    margin: 1em 0;
    margin-left: 15px;
    margin-right: 15px;
    padding: 0;
}

/* ------------------------------ */

.state__2{
    width: 100%;
    max-height: 25%;
    height: auto;
    display: flex;
    background-color: rgb(233, 233, 230);
}
.container__video{
    width: 55%;
    height: 100%;
    text-align: center;
}
.video__title{
    margin-top: 4%;
    margin-bottom: 2%;
    width: 100%;
    height: 10%;
    font-size: 30px;
    -webkit-text-fill-color: rgb(10, 10, 10);
    font-family: OpenSans-Semibold, serif;
}

.container__location{
    width: 45%;
    height: 100%;
    text-align: center;
}

.location__title{
    margin-top: 4%;
    margin-bottom: 2%;
    width: 100%;
    height: 10%;
    font-size: 30px;
    -webkit-text-fill-color: rgb(10, 10, 10);
    font-family: OpenSans-Semibold, serif;
}

.image__location{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4%;
    max-width: 70%;
    width: auto;
    height: auto;
}

/* ------------------------------ */

.state__3{
    width: 100%;
    max-height: 15%;
    height: auto;
    display: flex;
    background-color: rgb(85, 85, 85);
}
.container__contact{
    width: 60%;
    max-height: 100%;
    height: auto;    
}
.contact__title{
    margin-top: 20px;
    /* margin-left: 5%; */
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
    height: 10%;
    font-size: 35px;
    -webkit-text-fill-color: rgb(211, 211, 211);
    background-color: rgba(0, 0, 0, 0.185);
    font-family: OpenSans-Semibold, serif;
}

.ul__contact{
    width: 100%;
    height: 20%;
    font-family: OpenSans-Semibold, serif;
    list-style-type: none;
    font-size: 15px;
}

.list__item__contact{
    margin-left: 8%;
    margin-top: 2%;
    -webkit-text-fill-color: rgb(163, 163, 163);
}

.logo__bottom{
    width: 100%;
    height: 40%;
    margin-top: 5%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: flex-start;
}

.img_stellar_logo{
    margin-top: 1%;
    /* margin-left: 33%; */
    margin-left: 10%;
    width: 30%;
    height: 80%;
}

.img_logo_bot{
    margin-top: 1%;
    margin-left: 14%;
    width: 40%;
    height: 80%;
}

.space{
    width: 100%;
    height: 8%;
}

.list__item__url{
    margin-left: 8%;
    margin-top: 2%;
    -webkit-text-fill-color: rgb(163, 163, 163);
    text-decoration: underline;
}

.list__item__url:hover{
    cursor: pointer;
}

.container__bottom__right{
    width: 40%;
    max-height: 100%;
    height: auto;
    background-color: rgb(102, 102, 102);
}

.container__Logo_Right{
    margin-top: 7.5%;
    width: 100%;
    height: 40%;
    background-color: rgb(0, 0, 0);
}

.img_logo_bot_right{
    margin-top: 3%;
    margin-left: 25%;
    width: 40%;
    height: 80%;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 10px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 1280px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}